.button-wrapper {
  padding-top: 30px;
  text-align: center;
}

:root {
  --turquoise-сolor: #50c3af;
  --grey-color: #4f686f;
  --opensans-font: "OpenSans", sans-serif;
  --ptsans-font: 'PT Sans', sans-serif;
}

.rounded-button {
  border-radius: 25px;
  font-family: 'PT Sans', sans-serif;
  text-align: center;
  border: none;
  outline: none;
  color: white;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition-duration: 0.4s;
}

.rounded-button_main {
  height: 50px;
  width: 240px;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.6;
}

.rounded-button_secondary {
  height: 40px;
  width: 120px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.7;
}

.rounded-button:hover {
  transform: translateY(-7px);
}

.rounded-button_turquoise {
  background-color: var(--turquoise-сolor);
}

.rounded-button_turquoise:hover {
  border: 1px solid var(--turquoise-сolor);
  background-color: white;
  box-shadow: 0 15px 20px rgba(46, 229, 157, 0.4);
  color: var(--turquoise-сolor);
}

.rounded-button_grey {
  background-color: var(--grey-color);
}

.rounded-button_grey:hover {
  border: 1px solid var(--grey-color);
  background-color: white;
  box-shadow: 0 15px 20px rgba(79, 104, 111, 0.4);
  color: var(--grey-color);
}
