.grey-block {
  background-color: #eeeeef;
}

.card-container{
  padding-top: 60px;
  padding-bottom: 60px;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-3 {
  width: 25%;
}

.card-2 {
  width: 45%;
}

.card_content-center {
  text-align: center;
}

.card_content-left {
  text-align: left;
}

.card__heading__without-margins{
  margin:0;
  padding-top: 0 !important;
}

.card__heading_with-icon{
  display: flex;
  align-items: center;
}

.card__heading__icon{
  min-height: 28px;
  padding-right: 10px;
}

.card__heading_small {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 900;
  color: rgb(56, 64, 72);
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}

.card__heading_large {
  font-family: "PT Sans", sans-serif;
  font-size: 22px;
  font-weight: 900;
  color: rgb(56, 64, 72);
  line-height: 1.333;
  text-transform: uppercase;
  padding-top: 30px;
  padding-bottom: 15px;
}

.card__heading_center-line:after{
  background-color: #b7b9ba;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 75%;
}

.card__heading_across-block-line:after {
  background-color: #b7b9ba;
  content: "";
  display: inline-block;
  height: 2px;
  position: relative;
  vertical-align: middle;
  width: 100%;
}

.card__paragraph {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: rgb(120, 123, 128);
  line-height: 1.714;
  padding-top: 10px;
  padding-bottom: 20px;
}

.card__icon{
  min-height: 40px;
  max-height: 40px;
}

.card__image {
  min-width: 100%;
  max-width:100%;
  object-fit: contain;
}

.card__link{
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  color: #6dcab9;
  -webkit-transition: color 1s;
  -moz-transition: color 1s;
  -ms-transition: color 1s;
  -o-transition: color 1s;
  transition: color 1s;
}

.card__link:hover{
  color: #4f686f;
}

.card__link__arrow{
  padding-left: 10px;
  padding-right: 10px;
}
